.main{
	width: 600px;
	height: 600px;
	position: absolute;
}
.div{
    border: 2px dashed black;
    width: 70px;
    clear: right;
    margin-bottom: 300px;
    float: left;
    position: relative;
    height: 70px;
}
.div1{
        border: 2px dashed black;
    width: 70px;
    height: 70px;
    float: left;
    margin-top: 70px;
    position: relative;
}
.div2{
        border: 2px dashed black;
    width: 70px;
    height: 70px;
    float: left;
    position: relative;
    margin-top: 140px;
}
#left{
    float: left;
}