@font-face {
    font-family: 'myFont';
    src: url('../font/font.ttf');
    font-family: 'amita';
    src: url('../font/amita.ttf');
}

.main {
    background: white;
    height: 600px;
    width: 800px;
    margin: 0 auto;
    position: relative;
    padding: 50px;
}

.main_border {
    width: 484px;
    height: 484px;
    margin: 0 auto;
    padding: 55px;
    border-radius: 100%;
    position: relative;
    background: radial-gradient(farthest-corner at 55% 45%, white, #303836, #272822);
}

.white_border {
    width: 435px;
    height: 435px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 100%;
    background: radial-gradient(farthest-corner at 95% 90%, #A4A4A4, white);
    box-shadow: 5px 5px 30px 0px grey inset;
    position: relative;
}

.black_border {
    width: 405px;
    height: 405px;
    border: 3px solid black;
    border-radius: 100%;
    padding: 10px;
    margin: 0 auto;
    position: relative;
    background: #F8F9F6;
    box-shadow: 0px 0px 15px 8px grey inset;
}

.clockRadius {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    position: relative;
}

.rad1 {
    height: 400px;
    width: 1px;
    position: absolute;
    margin-left: 50%;
    background-color: black;
}

.divLarge {
    height: 400px;
    position: absolute;
    margin-left: 50%;
    background-color: black;
}

.clock_key {
    height: 400px;
    padding: 1px;
    position: absolute;
    margin-left: 50%;
    z-index: 4;
}

.minute_key {
    height: 400px;
    padding: 3px;
    position: absolute;
    margin-left: 50%;
    z-index: 4;
}

.second_key {
    height: 400px;padding: 4px;

    position: absolute;
    margin-left: 50%;
    z-index: 4;
}

.clock_key div {
    margin-top: 50px;
    height: 190px;
    width: 13px;
    background: black;
    border-radius: 4px;
    z-index: 5;
    box-shadow: 0px 0px 15px 0px grey;
}

.minute_key div {
    margin-top: 12px;
    height: 230px;
    width: 10px;
    background: black;
    border-radius: 3px;
    z-index: 6;
    box-shadow: 0px 0px 10px 0px grey;
}

.second_key div:first-child {
    margin-top: 20px;
    margin-left: 2px;
    margin-right: 2px;
    height: 200px;
    width: 3px;
    background: black;
    border-radius: 2px;
    z-index: 7;
    box-shadow: 0px 0px 10px 0px grey;
}

.second_key div:last-child {
    height: 60px;
    width: 7px;
    background: black;
    z-index: 7;
    box-shadow: 0px 0px 5px 0px grey;
}

.circle_key {
    height: 400px;
    width: 22px;
    padding: 1px;
    position: absolute;
    margin-left: 49%;
    z-index: 4;
}

.circle_key div {
    margin-top: 192px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: black;
    z-index: 8;
}

.whiteRad {
    height: 380px;
    width: 380px;
    margin: 10px;
    z-index: 1;
    border-radius: 100%;
    background-color: #F8F9F6;
    position: absolute;
}

.whiteRadL {
    height: 370px;
    width: 370px;
    margin: 15px;
    z-index: 3;
    border-radius: 100%;
    background-color: #F8F9F6;
    position: absolute;
}

p {
    font-size: 45px;
    position: absolute;
    font-family: 'myFont';
}

h3 {
    position: absolute;
    font-family: 'myFont';
    right: 110px;
    top: 90px;
    font-size: 20px;
    font-family: 'amita';
}

.whiteRadL p:nth-child(1) {
    right: 88px;
    top: -10px;
}

.whiteRadL p:nth-child(2) {
    right: 35px;
    top: 42px;
}

.whiteRadL p:nth-child(3) {
    right: 12px;
    top: 112px;
}

.whiteRadL p:nth-child(4) {
    right: 34px;
    top: 186px;
}

.whiteRadL p:nth-child(5) {
    right: 86px;
    bottom: -12px;
}

.whiteRadL p:nth-child(6) {
    right: 173px;
    bottom: -42px;
}

.whiteRadL p:nth-child(7) {
    left: 94px;
    bottom: -11px;
}

.whiteRadL p:nth-child(8) {
    left: 37px;
    top: 186px;
}

.whiteRadL p:nth-child(9) {
    left: 10px;
    bottom: 116px;
}

.whiteRadL p:nth-child(10) {
    left: 30px;
    top: 42px;
}

.whiteRadL p:nth-child(11) {
    left: 79px;
    top: -10px;
}

.whiteRadL p:nth-child(12) {
    right: 162px;
    top: -42px;
}
