/*html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

div {
    margin: 0;
    border: 0;
}

* {
    margin: 0;
    padding: 0;
}
*/

.childimage {
    width: 100px;
    height: 100px;
}

.childimage img {
    width: 100%;
}
