.main{
	list-style-type: none;
}
.main li{
border:1px solid black;
margin: 2px;
padding: 2px
}
.main li ul{
	list-style-type: none;
}
.main li ul li:first-child{
	font-weight: 700;
	border:none;
}
.main li:nth-child(2)  ul li:nth-child(2){
	color:red;
}