ul {
    list-style-type: none;
    background-color: gray;
}

li {
    display: inline-block;
    padding: 10px;
    border: 1px solid black;
}

li a {
    text-decoration: none;
    color: white;
}

.active {
    background-color: red;
}
